*
!*/
!.gitignore
!.config/hypr/**
!.config/DankMaterialShell/**
# Explicitly ignore the junk sub-folders inside DMS
.config/DankMaterialShell/plugins/
.config/DankMaterialShell/themes/
!.config/kitty/**
!.config/gtk-3.0/**
!.config/gtk-4.0/**
!.config/matugen/**
!.config/danksearch/**
!.local/bin/dms-sync
!.local/bin/hyper-push
!.config/starship.toml
!README.md
!GEMINI.md
