=== DankColors Complete Palette ===

DANK16 COLORS (Terminal/Editor):
color0  (black)         #12140f
color1  (red)           #e2496b
color2  (green)         #8ad66e
color3  (yellow)        #dbb97b
color4  (blue)          #6d9b3e
color5  (magenta)       #869d6e
color6  (cyan)          #abd284
color7  (white)         #abb2bf
color8  (bright black)  #5c6370
color9  (bright red)    #e05f80
color10 (bright green)  #9ee086
color11 (bright yellow) #e8cb97
color12 (bright blue)   #bce097
color13 (bright magenta)#698134
color14 (bright cyan)   #5f8348
color15 (bright white)  #ffffff

MATERIAL DESIGN COLORS:
Primary:                #abd284
On Primary:             #1c3700
Primary Container:      #779b53
On Primary Container:   #000000

Secondary:              #bbcca7
On Secondary:           #27341a
Secondary Container:    #3d4b2e
On Secondary Container: #d5e6bf

Tertiary:               #7bd8ba
On Tertiary:            #00382b
Tertiary Container:     #42a085
On Tertiary Container:  #000000

Error:                  #ffb4ab
On Error:               #690005
Error Container:        #93000a
On Error Container:     #ffdad6

Surface:                #12140f
On Surface:             #e2e3da
Surface Variant:        #43493c
On Surface Variant:     #c4c8b8

Background:             #12140f
On Background:          #e2e3da

Outline:                #8d9384
Outline Variant:        #43493c
