=== DankColors Complete Palette ===

DANK16 COLORS (Terminal/Editor):
color0  (black)         #141316
color1  (red)           #e15143
color2  (green)         #6ed674
color3  (yellow)        #dbd87b
color4  (blue)          #8b6fe2
color5  (magenta)       #9e97b9
color6  (cyan)          #cbbff7
color7  (white)         #abb2bf
color8  (bright black)  #5c6370
color9  (bright red)    #e0685f
color10 (bright green)  #86e08a
color11 (bright yellow) #e8e597
color12 (bright blue)   #d9ccff
color13 (bright magenta)#776ccd
color14 (bright cyan)   #856cb5
color15 (bright white)  #ffffff

MATERIAL DESIGN COLORS:
Primary:                #cbbff7
On Primary:             #332957
Primary Container:      #6e6496
On Primary Container:   #ffffff

Secondary:              #cac3dc
On Secondary:           #322e41
Secondary Container:    #4d495d
On Secondary Container: #ece4fe

Tertiary:               #f5b4d7
On Tertiary:            #4d213d
Tertiary Container:     #905a79
On Tertiary Container:  #ffffff

Error:                  #ffb4ab
On Error:               #690005
Error Container:        #93000a
On Error Container:     #ffdad6

Surface:                #141316
On Surface:             #e6e1e6
Surface Variant:        #48454e
On Surface Variant:     #cac4cf

Background:             #141316
On Background:          #e6e1e6

Outline:                #938f99
Outline Variant:        #48454e
