=== DankColors Complete Palette ===

DANK16 COLORS (Terminal/Editor):
color0  (black)         #131314
color1  (red)           #e64c48
color2  (green)         #72d66e
color3  (yellow)        #dbd07b
color4  (blue)          #5886b7
color5  (magenta)       #8e98a2
color6  (cyan)          #b8c8d9
color7  (white)         #abb2bf
color8  (bright black)  #5c6370
color9  (bright red)    #e05f60
color10 (bright green)  #88e086
color11 (bright yellow) #e8df97
color12 (bright blue)   #c5d6e9
color13 (bright magenta)#4c8099
color14 (bright cyan)   #6579a2
color15 (bright white)  #ffffff

MATERIAL DESIGN COLORS:
Primary:                #b8c8d9
On Primary:             #22323f
Primary Container:      #8293a2
On Primary Container:   #000000

Secondary:              #c1c7ce
On Secondary:           #2b3137
Secondary Container:    #444a50
On Secondary Container: #dfe4ec

Tertiary:               #d7bfd6
On Tertiary:            #3b2b3c
Tertiary Container:     #9f8a9f
On Tertiary Container:  #000000

Error:                  #ffb4ab
On Error:               #690005
Error Container:        #93000a
On Error Container:     #ffdad6

Surface:                #131314
On Surface:             #e4e2e3
Surface Variant:        #43474b
On Surface Variant:     #c4c7cc

Background:             #131314
On Background:          #e4e2e3

Outline:                #8e9196
Outline Variant:        #43474b
