=== DankColors Complete Palette ===

DANK16 COLORS (Terminal/Editor):
color0  (black)         #151311
color1  (red)           #e2497b
color2  (green)         #95d66e
color3  (yellow)        #dbaf7b
color4  (blue)          #a37f41
color5  (magenta)       #a69a85
color6  (cyan)          #decaa7
color7  (white)         #abb2bf
color8  (bright black)  #5c6370
color9  (bright red)    #e05f8d
color10 (bright green)  #a8e086
color11 (bright yellow) #e8c397
color12 (bright blue)   #e7d2ad
color13 (bright magenta)#9e6f4b
color14 (bright cyan)   #88784a
color15 (bright white)  #ffffff

MATERIAL DESIGN COLORS:
Primary:                #decaa7
On Primary:             #3b2f16
Primary Container:      #c2af8d
On Primary Container:   #30240c

Secondary:              #d0c5b4
On Secondary:           #363024
Secondary Container:    #4d4639
On Secondary Container: #ebdecd

Tertiary:               #c8d1b1
On Tertiary:            #2b331d
Tertiary Container:     #acb597
On Tertiary Container:  #212914

Error:                  #ffb4ab
On Error:               #690005
Error Container:        #93000a
On Error Container:     #ffdad6

Surface:                #151311
On Surface:             #e7e1dd
Surface Variant:        #4c463c
On Surface Variant:     #cec5b9

Background:             #151311
On Background:          #e7e1dd

Outline:                #989084
Outline Variant:        #4c463c
