=== DankColors Complete Palette ===

DANK16 COLORS (Terminal/Editor):
color0  (black)         #131313
color1  (red)           #e64c49
color2  (green)         #72d66e
color3  (yellow)        #dbcf7b
color4  (blue)          #4488bf
color5  (magenta)       #7ca1bf
color6  (cyan)          #8fcdff
color7  (white)         #abb2bf
color8  (bright black)  #5c6370
color9  (bright red)    #e05f61
color10 (bright green)  #89e086
color11 (bright yellow) #e8de97
color12 (bright blue)   #98dbff
color13 (bright magenta)#3f829b
color14 (bright cyan)   #5c7aa3
color15 (bright white)  #ffffff

MATERIAL DESIGN COLORS:
Primary:                #8fcdff
On Primary:             #003450
Primary Container:      #004b71
On Primary Container:   #cbe6ff

Secondary:              #b8c8d9
On Secondary:           #22323f
Secondary Container:    #394856
On Secondary Container: #d4e4f6

Tertiary:               #d0bfe7
On Tertiary:            #362b4a
Tertiary Container:     #4d4162
On Tertiary Container:  #ecdcff

Error:                  #ffb4ab
On Error:               #690005
Error Container:        #93000a
On Error Container:     #ffdad6

Surface:                #131313
On Surface:             #e2e2e2
Surface Variant:        #474747
On Surface Variant:     #c6c6c6

Background:             #131313
On Background:          #e2e2e2

Outline:                #919191
Outline Variant:        #474747
