=== DankColors Complete Palette ===

DANK16 COLORS (Terminal/Editor):
color0  (black)         #141318
color1  (red)           #ff7291
color2  (green)         #7fff99
color3  (yellow)        #ffd972
color4  (blue)          #b6a8f2
color5  (magenta)       #493e76
color6  (cyan)          #cbbeff
color7  (white)         #f2efff
color8  (bright black)  #9b99a5
color9  (bright red)    #ff9fb4
color10 (bright green)  #a5ffb7
color11 (bright yellow) #ffe7a5
color12 (bright blue)   #d2c7ff
color13 (bright magenta)#dad1ff
color14 (bright cyan)   #e7e1ff
color15 (bright white)  #f9f8ff

MATERIAL DESIGN COLORS:
Primary:                #cbbeff
On Primary:             #33275e
Primary Container:      #493e76
On Primary Container:   #e7deff

Secondary:              #cac3dc
On Secondary:           #322e41
Secondary Container:    #484458
On Secondary Container: #e6dff9

Tertiary:               #eeb8cb
On Tertiary:            #492534
Tertiary Container:     #623b4b
On Tertiary Container:  #ffd9e5

Error:                  #ffb4ab
On Error:               #690005
Error Container:        #93000a
On Error Container:     #ffdad6

Surface:                #141318
On Surface:             #e6e1e9
Surface Variant:        #48454e
On Surface Variant:     #cac4cf

Background:             #141318
On Background:          #e6e1e9

Outline:                #938f99
Outline Variant:        #48454e
