=== DankColors Complete Palette ===

DANK16 COLORS (Terminal/Editor):
color0  (black)         #0e1419
color1  (red)           #e24a76
color2  (green)         #91d66e
color3  (yellow)        #dbb37b
color4  (blue)          #999128
color5  (magenta)       #9c985e
color6  (cyan)          #d1ca69
color7  (white)         #abb2bf
color8  (bright black)  #5c6370
color9  (bright red)    #e05f88
color10 (bright green)  #a4e086
color11 (bright yellow) #e8c697
color12 (bright blue)   #dfd78a
color13 (bright magenta)#8d773b
color14 (bright cyan)   #7a7d3d
color15 (bright white)  #ffffff

MATERIAL DESIGN COLORS:
Primary:                #d1ca69
On Primary:             #353200
Primary Container:      #4c4800
On Primary Container:   #eee682

Secondary:              #d9bde3
On Secondary:           #3c2947
Secondary Container:    #543f5e
On Secondary Container: #f5d9ff

Tertiary:               #9eccf1
On Tertiary:            #00344e
Tertiary Container:     #164b6a
On Tertiary Container:  #cae6ff

Error:                  #ffb4ab
On Error:               #690005
Error Container:        #93000a
On Error Container:     #ffdad6

Surface:                #0e1419
On Surface:             #dde3ea
Surface Variant:        #3d4852
On Surface Variant:     #bcc8d3

Background:             #0e1419
On Background:          #dde3ea

Outline:                #87929d
Outline Variant:        #3d4852
